# A Quick Tour of Python Language Syntax

## Comments Are Marked by ``#``

In [1]:
# this is a comment in Python

In [2]:
variable = 5  # and this is also a comment

## End-of-Line Terminates a Statement
Every line of code is executed sequentially by the virtual machine

In [3]:
# code is executed sequentially and the end of the line terminates a statement
variable1 = 12
variable2 = 24

In [4]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

It is also possible to continue expressions on the next line within parentheses, without using the "``\``" marker:

In [5]:
x = (1 + 2 + 3 + 4 +
     5 + 6 + 7 + 8)

Most Python style guides recommend the second version of line continuation (within parentheses) to the first (use of the "``\``" marker).

In [6]:
# the ; character also terminates the statement, but is not recommended
variable = 5;

## Whitespace *Within* Lines Does Not Matter

In [7]:
# whitespaces in the same line don't matter
x=1+2
x = 1 + 2
x             =        1    +                2

## Parentheses for Grouping or Calling (functions)

In [8]:
# using parenthesis for grouping
2 * (3 + 4)

14

In [9]:
# using parenthesis for calling functions
print('first value:', 1)

first value: 1

In [10]:
print('second value:', 2)

second value: 2

## The `print` and `input` built-in functions

In Python there are several **built-in functions**. A function is a piece of already implemented code (in Python or even in other languages) that provides some defined functionality. The most simple ones are `print` and `input`.

**Functions** are called (executed) with parenthesis and they can receive *parameters* as input. The input parameters of a function defines its behavior, for example, the `print` function needs the thing we want to print as the input parameter.

To check how a function works you can use the function `help`

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### The `print` function

In [12]:
# with "print" we can print the value of the variables and objects in Python
print("using the print function")

using the print function

In [13]:
print(3)

3

In [14]:
print(1+2+3+4)

10

In [15]:
variable = 3
print(variable)

3

In [16]:
# I can simply concatenate several prints with ","
print("The value of 'variable' is", variable)

The value of 'variable' is 3

### The `input` function

In [17]:
# with "input" I can register the user input interface
input("Write your name:")

Write your name: Daniel

'Daniel'

In [18]:
# also, we can store the given input in a variable
name = input("Write your name:")

Write your name: Daniel

In [19]:
print("My name is", name)

My name is Daniel

> ***EXAMPLE 1***
>
> Write a program that asks for your name and age and prints the result with the following format: "My name is <> and I'm <>"

In [20]:
name = input("Give me your name")
age = input("Give me your age")
print("My name is", name, "and I'm", age)

Give me your name Daniel
Give me your age 31

My name is Daniel and I'm 31

# Variables in Python

In [21]:
# in Python we define new variables with the assingment operator "="
x = 5

Variables are dinamically defined, that is, we don't have to "declare" the variable with the corresponding type (like in other languages)

In [22]:
# variables are dinamically defined, that is, we don't have to "declare" the variable with the corresponding type (like in other languages)
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

Variables in Python are **pointers**, that is, they don't contain the assigned value (a variable is not a container). Instead of that, they point to the bucket (a zone in memory) in which the value is stored

In [23]:
# Here we create two different variables with value 12 (two pointers to the value 12)
a = [1,2,3]
b = [1,2,3]

In [24]:
print("This is the identifier of 'a':", id(a))  # the "id" function gives a unique number representing the memory address the variable is pointing to
print("This is the identifier of 'b':", id(b))

This is the identifier of 'a': 2404139593280
This is the identifier of 'b': 2404139592128

In [25]:
# Here we create a variable "a" with value 12, and the copy the pointer to the variable "b"
a = [1,2,3]
b = a

In [26]:
print("This is the identifier of 'a':", id(a))
print("This is the identifier of 'b':", id(b))

This is the identifier of 'a': 2404139420416
This is the identifier of 'b': 2404139420416

In [27]:
# Be careful with this!

x = 10
y = x
x += 5  # we are just changing the value of x (the thing that x is pointing to)
print("x =", x)
print("y =", y)

x = 15
y = 10

# Basic Python Semantics: Operators

In the previous section, we began to look at the semantics of Python variables and objects; here we'll dig into the semantics of the various *operators* included in the language.
By the end of this section, you'll have the basic tools to begin comparing and operating on data in Python.

## Arithmetic Operations
Python implements seven basic binary arithmetic operators, two of which can double as unary operators.
They are summarized in the following table:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |
| ``+a``       | Unary plus     | ``a`` unchanged (rarely used)                          |
| ``a @ b``       | Matrix product     | Introduced in Python 3.5                          |

These operators can be used and combined in intuitive ways, using standard parentheses to group operations.
For example:

In [28]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

Floor division is true division with fractional parts truncated:

In [29]:
# True division
print(11 / 2)

5.5

In [30]:
# Floor division
print(11 // 2)

5

In [31]:
# the modulus operator
print("Even number remainder", 30 % 2)
print("Odd number remainder", 31 % 2)

Even number remainder 0
Odd number remainder 1

> ***EXAMPLE 2***
>Find out the result of `c` and `f`:
>
>$a = 0.1,\quad b = 0.2, \quad d = \frac{1}{3}, \quad e = 1.25$
>
>$c=\frac{a + b}{a - b}\quad \quad$
>$f=\frac{10c + \frac{d}{2}}{3}$

In [32]:
a = 0.1
b = 0.2
d = 1/3
e = 1.25

In [33]:
c = (a+b)/(a-b)
print("c = ", c)

c =  -3.0000000000000004

In [34]:
f = (10*c+(d/2))/3
print("f = ", f)

f =  -9.944444444444445

## Assignment Operations

In [35]:
a = 24
print(a)

24

In [36]:
a + 2  # this don't make an assignment

26

In [37]:
a += 2  # this is an "augmented assignment". it is equivalent to a = a + 2
print(a)

26

There is an augmented assignment operator corresponding to each of the binary operators listed earlier; in brief, they are:

|||||
|-|-|-|-|
|``a += b``| ``a -= b``|``a *= b``| ``a /= b``|
|``a //= b``| ``a %= b``|``a **= b``|``a &= b``|

## Comparison Operations

Another type of operation which can be very useful is comparison of different values.
For this, Python implements standard comparison operators, which return Boolean values `True` and `False`.
The comparison operations are listed in the following table:

| Operation     | Description                       | Operation     | Description                          |
|---------------|-----------------------------------|---------------|--------------------------------------|
| `a == b`    | `a` equal to `b`              | `a != b`    | `a` not equal to `b`             |
| `a < b`     | `a` less than `b`             | `a > b`     | `a` greater than `b`             |
| `a <= b`    | `a` less than or equal to `b` | `a >= b`    | `a` greater than or equal to `b` |

In [38]:
a = 4
a > 5

False

In [39]:
# 25 is odd
25 % 2 == 1

True

In [40]:
# 66 is odd
66 % 2 == 1

False

We can string-together multiple comparisons to check more complicated relationships:

In [41]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

## Boolean Operations
When working with Boolean values, Python provides operators to combine the values using the standard concepts of "and", "or", and "not".
Predictably, these operators are expressed using the words ``and``, ``or``, and ``not``:

|Operator|Description|Syntax|
|--------|-----------|------|
|and|Logical AND: True if both the operands are true|`x and y`|
|or|Logical OR: True if either of the operands is true|`x or y`|
|not|Logical NOT: True if operand is false|`not x`|

In [42]:
x = 4
(x < 6) and (x > 2)

True

In [43]:
(x > 10) or (x % 2 == 0)

True

In [44]:
not (x < 6)

False

Boolean algebra aficionados might notice that the XOR operator is not included; this can of course be constructed in several ways from a compound statement of the other operators.
Otherwise, a clever trick you can use for XOR of Boolean values is the following:

In [45]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

These sorts of Boolean operations will become extremely useful when we begin discussing *control flow statements* such as conditionals and loops.

## Identity and Membership Operators

Like ``and``, ``or``, and ``not``, Python also contains prose-like operators  to check for identity and membership.
They are the following:

| Operator      | Description                                       |
|---------------|---------------------------------------------------|
| ``a is b``    | True if ``a`` and ``b`` are identical objects     |
| ``a is not b``| True if ``a`` and ``b`` are not identical objects |
| ``a in b``    | True if ``a`` is a member of ``b``                |
| ``a not in b``| True if ``a`` is not a member of ``b``            |

### Identity Operators: "``is``" and "``is not``"

The identity operators, "``is``" and "``is not``" check for *object identity*.
Object identity is different than equality, as we can see here:

In [47]:
a = [1, 2, 3]
b = [1, 2, 3]

In [48]:
# this checks if the content is equal
a == b

True

In [49]:
# this checks if the reference (the pointer) is the same
a is b

False

In [50]:
a is not b

True

### Membership operators
Membership operators check for membership within compound objects.
So, for example, we can write:

In [51]:
1 in [1, 2, 3]

True

In [52]:
2 not in [1, 2, 3]

False

> ***EXAMPLE 3***
>
> Given the results from the EXAMPLE 2, find out if `c > f`

In [54]:
c > f

True

***

# Built-In Types: Simple Values


| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |
| ``NoneType``| ``x = None``   | Special object indicating nulls                              |

## Integers
The most basic numerical type is the integer.
Any number without a decimal point is an integer:

In [55]:
x = 1
type(x)

int

In Python, the division up-casts to floating-point type

In [56]:
y = 5 / 2
type(y)

float

The floor division do not up-casts to float

In [58]:
5 // 2

2

## Floating-Point Numbers
The floating-point type can store fractional numbers.
They can be defined either in standard decimal notation, or in exponential notation:

In [59]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [60]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [ ]:
float(1)  # this transforms a integer value into a float value

## String Type
Strings in Python are created with single or double quotes:

In [61]:
message = "what do you like?"
response = 'spam'

Python has many extremely useful string functions and methods; here are a few of them:

In [62]:
# length of string
len(response)

4

In [63]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [64]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [65]:
# concatenation with +
message + response

'what do you like?spam'

In [66]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [67]:
# Access individual characters (zero-based indexing)
message[0]

'w'

For more discussion of indexing in Python, see ["Lists"](06-Built-in-Data-Structures.ipynb#Lists).

## None Type
Python includes a special type, the ``NoneType``, which has only a single possible value: ``None``. For example:

In [68]:
type(None)

NoneType

In [69]:
# the print value do not retunr anything
return_value = print('abc')

abc

In [70]:
print(return_value)

None

## Boolean Type
The Boolean type is a simple type with two possible values: ``True`` and ``False``, and is returned by comparison operators discussed previously:

In [71]:
result = (4 < 5)
result

True

In [72]:
type(result)

bool

Keep in mind that the Boolean values are case-sensitive: unlike some other languages, ``True`` and ``False`` must be capitalized!

In [73]:
print(True, False)

True False

Booleans can also be constructed using the ``bool()`` object constructor: values of any other type can be converted to Boolean via predictable rules.
For example, any numeric type is False if equal to zero, and True otherwise:

In [74]:
bool(2014)

True

In [75]:
bool(0)

False

In [76]:
bool(3.1415)

True

The Boolean conversion of ``None`` is always False:

In [77]:
bool(None)

False

For strings, ``bool(s)`` is False for empty strings and True otherwise:

In [78]:
bool("")

False

In [79]:
bool("abc")

True

For sequences, the Boolean representation is False for empty sequences and True for any other sequences

In [ ]:
bool([1, 2, 3])

In [ ]:
bool([])