# Exercise 1

Get the transformed version of each string, and store it in a new column with the provided list:

| Original | Transformed |
| --- | --- |
| `"Tim O'Reilly"` | `"tim o'reilly"` |
| `"Tim O'Reilly"` | `"Tom O'Reolly"` |
| `"Tim O'Reilly"` | `"T1m 0'R31lly"` |
| `"Tim O'Reilly"` | `"tIM o'rEILLY"` |
| `"Tim O'Reilly"` | `"----Tim O'Reilly----"` (20 chars) |
| `"Tim O'Reilly"` | `"TIM O'REILLY        "` (20 chars) |

In [23]:
var = "Tim O'Reilly"
transformed = []
# First
var1 = var.lower()
transformed.append(var1)
# Second
var2 = list(var)
var2[8] = 'o'
var2 = ''.join(var2)
transformed.append(var2)
# Third
var3_1 = var.split()
var3_1[0] = list(var3_1[0])
var3_1[1] = list(var3_1[1])
var3_1[0][1] = '1'
var3_1[1][0] = '0'
var3_1[1][3] = '3'
var3_1[1][4] = '1'
var3 = ''.join(var3_1[0]) + ' ' + ''.join(var3_1[1])
transformed.append(var3)
print(transformed)

["tim o'reilly", "Tim O'Reolly", "T1m 0'R31lly"]

# Exercise 2
Give the following text `b="Batman!"` obtain the following substrings only with slicing operations

1. `atman`
2. `!`
3. `Bta`
3. `!namtaB`
4. `!mB`

# Exercise 3

Create this list without conditionals, loops, or hardcoding the values:

```
[49, 0, 47, 0, 45, 0, 43, 0, 41, 0, 39, 0, 37, 0, 35, 0, 33, 0, 31, 0, 29, 0, 27, 0, 25, 0, 23, 0, 21, 0, 19, 0, 17, 0, 15, 0, 13, 0, 11, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1, 0]
```

# Exercise 4
Given the following string variables with data:
```python
names = 'Braund, Mr. Owen Harris;Cumings, Mrs. John Bradley (Florence Briggs Thayer);Heikkinen, Miss. Laina;Futrelle, Mrs. Jacques Heath (Lily May Peel);Allen, Mr. William Henry;Moran, Mr. James;McCarthy, Mr. Timothy J;Palsson, Master. Gosta Leonard;Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg);Nasser, Mrs. Nicholas (Adele Achem);Sandstrom, Miss. Marguerite Rut;Bonnell, Miss. Elizabeth;Saundercock, Mr. William Henry;Andersson, Mr. Anders Johan;Vestrom, Miss. Hulda Amanda Adolfina;Hewlett, Mrs. (Mary D Kingcome) ;Rice, Master. Eugene;Williams, Mr. Charles Eugene;Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele);Masselmani, Mrs. Fatima'
sex = 'male;female;female;female;male;male;male;male;female;female;female;female;male;male;female;female;male;male;female;female'
ticket = 'A/5 21171;PC 17599;STON/O2. 3101282;113803;373450;330877;17463;349909;347742;237736;PP 9549;113783;A/5. 2151;347082;350406;248706;382652;244373;345763;2649'
```

Create a new data structure with the following format
```python
[('id', 'name', 'sex', 'ticket'),
 (0, 'Braund, Mr. Owen Harris', 'male', 'A/5 21171'),
 (1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 'PC 17599'),
 (2, 'Heikkinen, Miss. Laina', 'female', 'STON/O2. 3101282'),
 (3, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', '113803'),
 (4, 'Allen, Mr. William Henry', 'male', '373450'),
 (5, 'Moran, Mr. James', 'male', '330877'),
 (6, 'McCarthy, Mr. Timothy J', 'male', '17463'),
 (7, 'Palsson, Master. Gosta Leonard', 'male', '349909'),
 (8, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', '347742'),
 (9, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', '237736'),
 (10, 'Sandstrom, Miss. Marguerite Rut', 'female', 'PP 9549'),
 (11, 'Bonnell, Miss. Elizabeth', 'female', '113783'),
 (12, 'Saundercock, Mr. William Henry', 'male', 'A/5. 2151'),
 (13, 'Andersson, Mr. Anders Johan', 'male', '347082'),
 (14, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', '350406'),
 (15, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', '248706'),
 (16, 'Rice, Master. Eugene', 'male', '382652'),
 (17, 'Williams, Mr. Charles Eugene', 'male', '244373'),
 (18, 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', '345763'),
 (19, 'Masselmani, Mrs. Fatima', 'female', '2649')]
```