### Exercise 1

Calculate the average price per product, from the `ecomm.csv` dataset

In [8]:
import pandas as pd
df = pd.read_csv('ecomm.csv')
df.head()

,product_id,reporting_date,country_code,units,price,sales,cogs,discounts,refunds,advertising_fees,returns,sde,fees
0,17,2022-01-01,us,48,31.429792,1508.63,-254.48,-121.20,-24.36,-305.42,3.0,385.53,-428.24
1,3,2022-01-01,de,1,46.210000,46.21,-16.12,0.00,NaN,-2.05,NaN,15.79,-12.25
2,32,2022-01-01,de,39,21.330513,831.89,-178.62,-3.58,NaN,-79.76,NaN,269.24,-300.69
3,9,2022-01-01,de,6,8.048333,48.29,-8.82,-2.51,NaN,-12.27,NaN,4.89,-19.80
4,5,2022-01-01,nl,1,17.150000,17.15,-5.47,-0.52,NaN,-0.44,NaN,4.91,-5.81

### Exercise 2

Which is the most expensive product?

### Exercise 3

What's the country with most `advertising_fees`?

And the country with less `returns`?