### Exercise 1

Calculate the average price per product, from the `ecomm.csv` dataset

In [2]:
import pandas as pd
df = pd.read_csv('ecomm.csv')
df.head()

,product_id,reporting_date,country_code,units,price,sales,cogs,discounts,refunds,advertising_fees,returns,sde,fees
0,17,2022-01-01,us,48,31.429792,1508.63,-254.48,-121.20,-24.36,-305.42,3.0,385.53,-428.24
1,3,2022-01-01,de,1,46.210000,46.21,-16.12,0.00,NaN,-2.05,NaN,15.79,-12.25
2,32,2022-01-01,de,39,21.330513,831.89,-178.62,-3.58,NaN,-79.76,NaN,269.24,-300.69
3,9,2022-01-01,de,6,8.048333,48.29,-8.82,-2.51,NaN,-12.27,NaN,4.89,-19.80
4,5,2022-01-01,nl,1,17.150000,17.15,-5.47,-0.52,NaN,-0.44,NaN,4.91,-5.81

In [37]:
df.groupby('product_id')['price'].mean()

product_id
0     49.618315
1     49.396427
2     49.813390
3     49.257190
4     18.915189
5     20.185136
6     21.616699
7     21.632878
8     19.064039
9      8.479945
10    14.360827
11    15.602003
12    25.585793
13    48.281715
14    44.927753
15    45.562648
16    51.930000
17    38.644011
18    30.221720
19    49.391936
20    30.824334
21    38.164976
22    30.223260
23    24.580000
24    33.739505
25    22.764116
26    38.477857
27    14.071765
28    14.300000
29    14.773889
30    23.252473
31    18.357949
32    25.628381
33     8.588097
34     9.700358
35    27.022301
36    16.121078
37    23.303880
38    42.163283
39    15.000149
40    18.666596
41    20.747196
42    21.015763
43    17.191550
44    17.124929
45    17.218509
46    17.128650
47    25.123507
48     9.393494
49     9.628872
50     9.428247
51    15.184121
52    14.943466
53    16.058073
54    14.571043
55    15.314396
56    24.153954
57    13.433591
Name: price, dtype: float64

In [21]:
rows_with_17 = df[df['product_id'] == 17]
rows_with_17

,product_id,reporting_date,country_code,units,price,sales,cogs,discounts,refunds,advertising_fees,returns,sde,fees
0,17,2022-01-01,us,48,31.429792,1508.63,-254.48,-121.20,-24.36,-305.42,3.0,385.53,-428.24
90,17,2022-01-02,us,43,30.363953,1305.65,-227.99,-95.55,-81.22,-235.42,1.0,293.70,-371.77
119,17,2022-01-03,us,44,30.995909,1363.82,-234.81,-85.33,-158.04,-150.77,8.0,-74.58,-841.47
192,17,2022-01-04,us,50,31.288400,1564.42,-267.21,-109.53,-79.13,-156.07,2.0,506.99,-450.83
233,17,2022-01-05,us,36,31.130833,1120.71,-191.88,-81.78,-180.98,-137.89,6.0,245.64,-298.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20309,17,2022-11-10,us,23,39.445217,907.24,-135.92,-69.02,-134.18,-188.15,5.0,115.44,-282.26
20383,17,2022-11-11,us,20,39.178500,783.57,-116.99,-30.23,-98.99,-136.80,NaN,52.92,-347.64
20436,17,2022-11-12,us,33,39.494242,1303.31,-193.03,-47.44,-91.57,-197.63,2.0,373.92,-399.72
20497,17,2022-11-13,us,30,39.274667,1178.24,-175.48,-90.58,-87.56,-145.55,5.0,365.57,-336.90
20555,17,2022-11-14,us,24,39.274583,942.59,-140.38,-17.42,-34.14,NaN,1.0,538.40,-212.25

### Exercise 2

Which is the most expensive product?

In [24]:
df.loc[df['price'] == max(df['price']), ['product_id', 'price']]

     product_id  price
691          13  69.86

### Exercise 3

What's the country with most `advertising_fees`?

And the country with less `returns`?

In [31]:
df.loc[df['advertising_fees'] == min(df['advertising_fees']), ['country_code', 'advertising_fees']]

      country_code  advertising_fees
11965           us           -1305.1

In [36]:
df.loc[df['returns'] == min(df['returns']), ['country_code', 'returns']].drop_duplicates()

      country_code  returns
49              de      1.0
85              us      1.0
124             it      1.0
326             nl      1.0
826             fr      1.0
3164            es      1.0
15841           uk      1.0